<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      To Do App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>{{ sentence }}</div>
  <h2>Tâches</h2>
  <div *ngFor="let task of tasks">
    <ion-checkbox (click)="checkTask(task.todo)"></ion-checkbox>
    {{ task.todo }}
    <ion-icon name="trash-outline" (click)="removeTask(task.todo)"></ion-icon>
  </div>

  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addTask()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
